*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1{
    text-align: center;
}
.myInput{
   width: 400px;
   height: 25px;
   margin: 10px;
   border: 2px solid rgb(91, 91, 140);
   border-radius: 5px;
}
.myForm{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn{
    width: 65px;
    height: 25px;
    background-color: rgb(147, 147, 219);
    border: 2px solid blue;
    border-radius: 5px;
    margin: 10px;
    color: white;
}
.container{
    height: 88.5vh;
    display: flex;
    justify-content: center;
    align-items: center;
}